/* 网页底部 */
#footer {
  min-width: 1240px;
  height: 240px;
  background-color: #808080;
}
/* 上部分 */
#footer > .top {
  width: 130px;
  height: 80px;
  margin: 0 auto;
  background-image: url("../img/index/logo.png");
  background-repeat: no-repeat;
	background-size:cover;
}
/* 中间部分 */
#footer > .center > ul {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer > .center > ul > li > a:hover {
  color: #ccc;
}
#footer > .center > ul > li > a,span {
  font-size: 15px;
  color: #fff;
}
/* 下部分 */
#footer > .bottom {
  width: 1240px;
  margin: 0 auto;
  text-align: center;
}
#footer > .bottom p {
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}