/* 主页样式 */
/* 搜索框 */
#search{
	width:100%;
	height:50px;
}
#search>ul{
	width:300px;
	height:50px;
}
#search>ul>li{
	float:left;
}
#search>ul>li>input{
	width:200px;
	height:30px;
	margin:10px 20px;
	box-sizing:border-box;
	text-align: center;
}
#search>ul>li>a>img{
	width:30px;
	margin:10px;
}
/* 轮播图 */
#banner{
	width: 1000px;
	margin: 0 auto;
	margin-top:30px;
	overflow: hidden;
	position: relative;
}
#ul-imgs{
	width:6000px;
}
#ul-imgs.transition{
	transition: all .5s linear;
}
#ul-imgs>li {
	width: 1000px;
	float: left;
}
#ul-imgs img {
	width: 1000px;
}
#ul-idxs {
	width: 100px;
	margin: 0 auto;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -50px;
}
#ul-idxs>li {
	float: left;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
#ul-idxs>li.active {
	background-color: blue;
}
#btn-left,#btn-right {
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#btn-left {
	left: 20px;
	background-image: url(../img/index/prev.png);
}
#btn-right {
	right: 20px;
	background-image: url(../img/index/next.png);
}
#btn-left:hover,#btn-right:hover {
	background-size: 40px 70px;
}
/* 杨照 */
#sample{
	margin-top: 100px;
}
#sample-big{
	width:100%;
	height: 700px;
	position:relative;
	background-image: url(../img/index/sample_big.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}
#sample-big>div{
	width:100%;
	position:absolute;
	top: 200px;
	text-align:center;
}
#sample-big>div>span{
	opacity: 0.5;
	font-size:60px;
	font-weight:bold;
	margin:0 10px;
}
#sample-big>a{
	position:absolute;
	top:400px;
	left:45%;
	padding: 10px;
	font-size:30px;
	color:#fff;
	border-radius:20px;
	box-shadow:0 0 20px #fff inset;
}
@keyframes zy{
	10%,90%{
		transform:translate(-1px,0);
	}
	20%,80%{
		transform:translate(2px,0);
	}
	30%,50%,70%{
		transform:translate(-4px,0);
	}
	40%,60%{
		transform:translate(4px,0);
	}
}
#sample-big>a:hover{
	animation:zy 1s linear;
}
#sample-small{
	width:1240px;
	height:600px;
	margin:100px auto 0;
	display:flex;
	justify-content:space-between;
}
#sample-small>div>dl{
	position:relative;
}
#sample-small>div>dl>dt img{
	width:400px;
	margin:17px 0;
	opacity: 1;
	transition:all .5s linear;
}
#sample-small>div>dl>dd{
	position:absolute;
	top:40%;
	left: 20%;
	font-size:30px;
	font-weight:bold;
	color:#fff;
	opacity:0;
	transition:opacity .5s linear;
}
#sample-small>div>dl>dd p{
	text-align:center;
}
#sample-small>div>dl:hover dt>img{
	transform:scale(1.05);
	opacity:.7;
}
#sample-small>div>dl:hover dd{
	opacity:1;
}
/* 场馆 */
.venue-title,.outdoor-title,.guest-title{
	width: 100%;
	height:100px;
	margin:0 auto;
	margin-top:100px;
	color:#fff;
	font-size:50px;
	font-weight: bold;
	background:#808080;
	text-align:center;
	line-height:100px;
}
.venue-photos,.outdoor-photos,.guest-photos{
	width:1240px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	position: relative;
}
.venue-photos>div{
	width: 350px;
	height:300px;
	margin: 60px 0 0 25px;
	position: relative;
}
.venue-photos>div>.cd{
	width: 245px;
	height:245px;
	position: absolute;
	top:60px;
	left:110px;
	border-radius: 50%;
	transition: 0.8s;
}
.venue-photos>div>.cd-bg{
	width:288px;
	position: absolute;
	top:15px;
	left: 65px;
}
.venue-photos>div>p{
	font-size: 30px;
	font-weight: bold;
	color:#808080;
	position: absolute;
	top:170px;
	left:230px;
	transition: 0.8s;
}
.venue-photos>div:hover p{
	transform:scale(1.1);
}
.venue-photos>div:hover .cd{
	transform: translate(-60px,-50px);
}
/* 外景栏 */
.outdoor-photos{
	margin-top: 100px;
}
.outdoor-photos div{
	width:400px;
	height:270px;
	margin:20px 0;
	position:relative;
	overflow:hidden;
}
#outdoor .outdoor-photos div img{
	width:400px;
	height:270px;
	transition:transform 1s; 
}
#outdoor .outdoor-photos .box{
	width:400px;
	height:70px;
	position:absolute;
	top:-20px;
	background:#000;
	opacity: 0;
	transition: all 1s linear;
}
#outdoor .outdoor-photos div:hover .box{
	opacity:.5;
}
#outdoor .outdoor-photos div:hover img{
	transform:scale(1.2);
}
#outdoor .outdoor-photos div .text{
	position:absolute;
	top:-20px;
	width:400px;
	height:75px;
	color:#fff;
	text-align:center;
	opacity: 0;
	transition:opacity 1s linear;
}
#outdoor .outdoor-photos div .text h3{
	height:40px;
	line-height:40px;
}
#outdoor .outdoor-photos div .text p{
	height:35px;
	line-height:35px;
	font-size:15px;
}
#outdoor .outdoor-photos div:hover .text{
	opacity:1;
}
/* 客照栏 */
#guest .guest-photos{
	margin-top: 100px;
	margin-bottom: 50px;
}
#guest .guest-photos>ul{
	width:1240px;
	height:900px;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;	
	flex-wrap:wrap;
}
#guest .guest-photos>ul li{
	position:relative;
}
#guest .guest-photos>ul .guest-big img{
	width:610px;
	height:436px;
}
#guest .guest-photos>ul .guest-small img{
	width:295px;
	height:436px;
}
#guest .guest-photos>ul .shadow{
	width:100%;
	height:436px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0;
	transition:opacity 1s linear; 
}
#guest .guest-photos>ul li:hover .shadow{
	opacity:.5;
}
#guest .guest-photos>ul>.guest-big .draw{
	width:360px;
	height:160px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#guest .guest-photos>ul>.guest-big>.draw .l1{
	position:absolute;
	left:20px;
	top:0;
	width:0;
	transition:all 1s linear;	
}
#guest .guest-photos>ul>li.guest-big:hover .l1{
	border:1px solid #fff;
	width:360px;
}
#guest .guest-photos>ul>.guest-big>.draw .l2{
	position:absolute;
	right:0;
	top:0;
	height:0;	
	transition:all 1s linear;
}
#guest .guest-photos>ul>li.guest-big:hover .l2{
	border:1px solid #fff;	
	height:160px;
}
#guest .guest-photos>ul>.guest-big>.draw .l3{
	position:absolute;
	left:20px;
	bottom:10px;
	height:0;	
	transition:all 1s linear;		
}
#guest .guest-photos>ul>li.guest-big:hover .l3{
	border:1px solid #fff;
	height:160px;
}
#guest .guest-photos>ul>.guest-big>.draw .l4{
	position:absolute;
	right:0;
	bottom:10px;
	width:0;	
	transition:all 1s linear;
}
#guest .guest-photos>ul>li.guest-big:hover .l4{
	width:360px;
	border:1px solid #fff;	
}
#guest .guest-photos>ul>.guest-small>.draw{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:200px;
	height:100px;
}
#guest .guest-photos>ul>.guest-small>.draw .l1{
	position:absolute;
	left:20px;
	top:0;
	width:0;
	transition:all 1s linear;	
}
#guest .guest-photos>ul>li.guest-small:hover .l1{
	border:1px solid #fff;
	width:200px;
}
#guest .guest-photos>ul>.guest-small>.draw .l2{
	position:absolute;
	right:0;
	top:0;
	height:0;
	transition:all 1s linear;	
}
#guest .guest-photos>ul>li.guest-small:hover .l2{
	border:1px solid #fff;
	height:120px;
}
#guest .guest-photos>ul>.guest-small>.draw .l3{
	position:absolute;
	left:20px;
	bottom:0;
	height:0;
	transition:all 1s linear;	
}
#guest .guest-photos>ul>li.guest-small:hover .l3{
	border:1px solid #fff;
	height:120px;
}
#guest .guest-photos>ul>.guest-small>.draw .l4{
	position:absolute;
	right:0;
	bottom:0;
	width:0;
	transition:all 1s linear;	
}
#guest .guest-photos>ul>li.guest-small:hover .l4{
	border:1px solid #fff;
	width:200px;
}
#guest .guest-photos>ul h1{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	margin-left:20px;
	color:#fff;
	font-weight:bold;
	line-height:160px;
	text-align:center;
	opacity:0;
	transition:opacity 1s linear;
}
#guest .guest-photos>ul>li.guest-big:hover h1{
	opacity:1;
}
#guest .guest-photos>ul h3{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	margin-left:20px;
	color:#fff;
	font-weight:bold;
	line-height:100px;
	text-align:center;
	opacity:0;
	transition:opacity 1s linear;
}
#guest .guest-photos>ul>li.guest-small:hover h3{
	opacity:1;
}
/* 右侧侧边栏 */
#right-nav{
    position:fixed;
    top:300px;
    right:10px;
    display:flex;
    flex-direction:column;
}
#right-nav>a{
    padding:6px;
    background:#808080;
    color:#fff;
    border-radius:5px;
    font-size:12px;
	font-weight:bold;
    margin:5px 0;
}
#right-nav>a.light{
	background:#eb6100;
}