body{
	background:url('../img/user_reg/bg.jpg') no-repeat;;
}
#register{
	width:600px;
	height:483px;
	margin:0 auto;
	margin-top:80px;
	background:rgba(255,255,255,0.5);
}
.box{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.item-margin>input{
	width:70%;
	height:40px;
}
.item-margin>button{
	width:70%;
	height:40px;
	background: #4DDDF9;
}